.about{
    height: 80vh;
}
.about-title{
    border-bottom: 5px solid #28B463;
    display: inline-block;
    font-size: 2rem;
    margin-top: 20px;
}
.content{
    margin: 20px 60px;
}
.content h2{
    font-size: 3rem;
    margin-bottom: 30px;
    
}
